<div class="stricky-header stricked-menu main-menu">
	<div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<section class="page-header">
	<div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>
	<!-- /.page-header__bg -->
	<div class="container">
		<h2>Checkout</h2>
		<ul class="thm-breadcrumb list-unstyled">
			<li><a href="index.html">Home</a></li>
			<li>/</li>
			<li><span>Checkout</span></li>
		</ul><!-- /.thm-breadcrumb list-unstyled -->
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="checkout-page">
	<div class="container">
		<p>Returning Customer? <a href="#">Click here to Login</a></p>
		<div class="row">
			<div class="col-lg-6">
				<h3>Billing Details</h3>
				<form action="#" class="contact-form-validated contact-one__form">
					<div class="row">
						<div class="col-md-12">
							<select class="selectpicker">
								<option value="">Select a Country</option>
								<option value="">Select a Country</option>
								<option value="">Select a Country</option>
								<option value="">Select a Country</option>
							</select>
						</div><!-- /.col-md-12 -->
						<div class="col-md-6">
							<input type="text" name="fname" placeholder="First Name">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="text" name="lname" placeholder="Last Name">
						</div><!-- /.col-md-6 -->
						<div class="col-md-12">
							<input type="text" name="company" placeholder="Company">
						</div><!-- /.col-md-6 -->
						<div class="col-md-12">
							<input type="text" name="address" placeholder="Address">
						</div><!-- /.col-md-12 -->
						<div class="col-md-12">
							<input type="text" name="appartment" placeholder="Appartment, Unit, etc. (optional)">
						</div><!-- /.col-md-12 -->
						<div class="col-md-12">
							<input type="text" name="town" placeholder="Town / City">
						</div><!-- /.col-md-12 -->
						<div class="col-md-6">
							<input type="text" placeholder="State" name="state">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="text" placeholder="Zip Code" name="zip">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="email" placeholder="Email Address" name="email">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="text" placeholder="Phone" name="phone">
						</div><!-- /.col-md-6 -->
						<div class="col-md-12">
							<div class="form-group">
								<input type="checkbox" id="createAccount">
								<label for="createAccount">Create an Account?</label>
							</div><!-- /.form-group -->
						</div><!-- /.col-md-12 -->
					</div><!-- /.row -->
				</form>
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<h3>
					<input type="checkbox" id="shipDetails">
					<label for="shipDetails">Ship to a Different Address</label>
				</h3>
				<form action="#" class="contact-form-validated contact-one__form">
					<div class="row">
						<div class="col-md-12">
							<select class="selectpicker">
								<option value="">Select a Country</option>
								<option value="">Select a Country</option>
								<option value="">Select a Country</option>
								<option value="">Select a Country</option>
							</select>
						</div><!-- /.col-md-12 -->
						<div class="col-md-6">
							<input type="text" name="fname" placeholder="First Name">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="text" name="lname" placeholder="Last Name">
						</div><!-- /.col-md-6 -->
						<div class="col-md-12">
							<input type="text" name="company" placeholder="Company">
						</div><!-- /.col-md-6 -->
						<div class="col-md-12">
							<input type="text" name="address" placeholder="Address">
						</div><!-- /.col-md-12 -->
						<div class="col-md-12">
							<input type="text" name="appartment" placeholder="Appartment, Unit, etc. (optional)">
						</div><!-- /.col-md-12 -->
						<div class="col-md-12">
							<input type="text" name="town" placeholder="Town / City">
						</div><!-- /.col-md-12 -->
						<div class="col-md-6">
							<input type="text" placeholder="State" name="state">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="text" placeholder="Zip Code" name="zip">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="email" placeholder="Email Address" name="email">
						</div><!-- /.col-md-6 -->
						<div class="col-md-6">
							<input type="text" placeholder="Phone" name="phone">
						</div><!-- /.col-md-6 -->
						<div class="col-md-12">
							<textarea name="notes" placeholder="Notes About Your Order"></textarea>
						</div><!-- /.col-md-12 -->
					</div><!-- /.row -->
				</form>
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		<h3 class="order-title">Your Order</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="order-details">
					<div class="order-details__top">
						<p>Product</p>
						<p>Price</p>
					</div><!-- /.order-details__top -->
					<p>
						<span>Vagetables Pack</span>
						<span>$9.99 USD</span>
					</p>
					<p>
						<span>Subtotal</span>
						<span>$9.99 USD</span>
					</p>
					<p>
						<span>Shipping</span>
						<span>$9.99 USD</span>
					</p>
					<p>
						<span>Total</span>
						<span>$9.99 USD</span>
					</p>
				</div><!-- /.order-details -->
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<div class="order-payment">
					<ul id="accordion" class="list-unstyled" data-wow-duration="1500ms">
						<li>
							<h2 class="para-title active">
								<span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Direct Bank Transfer
								</span>
							</h2>
							<div id="collapseTwo" class="collapse show" role="button" aria-labelledby="collapseTwo" data-parent="#accordion">
								<p>
									Make your payment directly into our bank account. Please
									use your Order ID as the payment reference. Your order
									wont be shipped until the funds have cleared.
								</p>
							</div>
						</li>
						<li>
							<h2 class="para-title ">
								<span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Paypal Payment
									<img src="~/assets/images/products/paypal-1-1.jpg" alt="">
								</span>
							</h2>
							<div id="collapseOne" class="collapse " aria-labelledby="collapseOne" data-parent="#accordion">
								<p>
									Make your payment directly into our bank account. Please
									use your Order ID as the payment reference. Your order
									wont be shipped until the funds have cleared.
								</p>
							</div>
						</li>
					</ul>
				</div><!-- /.order-payment -->
				<div class="text-right">
					<a href="checkout.html" class="thm-btn">Place Your Order</a>
				</div><!-- /.text-right -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.checkout-page -->
